body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 20px;
  }
  
  .crud-container {
    max-width: 800px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  form div {
    display: flex;
    flex-direction: column;
  }
  
  form button {
    grid-column: span 2;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  form button:hover {
    background-color: #0056b3;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  table th {
    background-color: #007bff;
    color: white;
  }
  
  button.edit, button.delete {
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  button.edit {
    background-color: #ffc107;
    color: black;
  }
  
  button.edit:hover {
    background-color: #e0a800;
  }
  
  button.delete {
    background-color: #dc3545;
    color: white;
  }
  
  button.delete:hover {
    background-color: #c82333;
  }
  .filters {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .filters button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .filters button:hover {
    background-color: #0056b3;
  }

  .total-general {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }
  .total-general div strong {
    margin-right: 5px;
  }

  .total-general div {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
    